<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.reap.rbac.domain.Role">

   	<select id="findByUserId" resultMap="ResultMap" lang="XML">
			select 
			"role".id as "id",
			"role".name as "name",
			"role".create_time as "createTime",
			"role".name as "name",
			"role".remark as "remark"
			from REAP_RBAC.role "role"  
		    left join REAP_RBAC.user_role  "user_role"  on  "role".id = "user_role".role_id
		    
		    where  "user_role".user_id = #{userId}  
    </select>
</mapper>